.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
tests
.scratch
docs
*.md
.phpunit.result.cache
.idea
.vscode
